@import url("assets/fonts/chango/chango.css");

@keyframes pulse {
    0% {
        transform: scale(1); /* Start at normal size */
    }
    50% {
        transform: scale(var(--pulse-scale, 1.1)); /* Grow slightly larger */
    }
    100% {
        transform: scale(1); /* Return to normal size */
    }
}
:root {
    --full-height: 100vh;
    --full-height: 100svh;
    --canvas-width: 1000px;
    --clr-accent: hsl(35, 50%, 31%);
    --clr-accent-dark: hsl(35, 50%, 24%);
    --cpx: 24px;
}
h1 {
    margin: 0;
}
button {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    transition-duration: 175ms;
}
.button {
    border: none;
}
button img {
    height: 32px;
    width: auto;
    object-fit: contain;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    font-family: "chango", sans-serif;
    /* background: linear-gradient(to bottom right, #CD5C5C, #DAA520, #8B4513); */
    color: var(--clr-accent-dark);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: linear-gradient(to bottom right, #CD5C5C, #DAA520, #8B4513);
    padding-inline: var(--cpx);
    padding-block: 4px;
    /* background-color: aqua; */
}
.main-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(var(--canvas-width) + 12px);
    text-align: center;
    /* padding: 32px 20px; */
    gap: 32px;
    /* background-color: red; */
}
#screenOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
#startScreen {
    background-image: url(assets/img/9_intro_outro_screens/start/startscreen_1.png);
}
#gameOverScreen {
    background-image: url(assets/img/9_intro_outro_screens/game_over/game-over-2.png);
}
body.play-mode #screenOverlay {
    display: none;
}
body.play-mode :is(#screenOverlay, #startScreen, #gameOverScreen),
body.show-start-screen :is(#winScreen, #gameOverScreen),
body.show-win-screen :is(#startScreen, #gameOverScreen),
body.show-gameover-screen :is(#startScreen, #winScreen) {
    display: none;
}
.canvas-wrapper {
    position: relative;
    box-sizing: content-box;
    background-color: var(--clr-accent);
    border: solid 6px var(--clr-accent);
    border-radius: 12px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.canvas-cover {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* transform: translateY(8vh); */
}
h1 {
    font-size: 5rem;
    line-height: 1.1;
}
.icon-btn {
    background-color: transparent;
}
.icon-btn img {
    height: 24px;
}
[data-before],[data-after] {
    position: relative;
}
[data-before]::before {
    content: attr(data-before);
    display: block;
}
[data-after]::after {
    content: attr(data-after);
    display: block;
}

.option-panel {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    gap: 0.5rem;
    button {
        background-color: transparent;
    }
    button:not(#btnStartGame):hover {
        transform: scale(1.1);
    }
    #btnStartGame {
        margin-left: 2rem;
        margin-right: auto;
        color: orange;
        /* color: var(--clr-accent-dark); */
        img {
            height: 72px;
            --pulse-scale: 1.1;
            animation: pulse 1.5s infinite ease-in-out;
        }
    }
    #btnTogglePauseGame img {
        transform: scale(1.4);
    }
    .option-msg {
        color: orange;
        margin-bottom: 12px;
        margin-right: 4px;
        --pulse-scale: 1.05;
    }
    #playTimer, .game-is-paused-msg {
        margin-left: 2.5rem;
        margin-right: auto;
    }
    .enable-audio-msg {
        animation: pulse 1s infinite ease-in-out;
    }
}
body.show-gameover-screen .option-panel {
    gap: 1.25rem;
    bottom: 1.5rem;
    button {
        border-radius: 100%;
        background-color:hsla(39, 100%, 50%, 0.7);
        box-shadow: 2px 2px 16px 1px hsla(39, 100%, 50%, 0.5);
        img {
            height: 24px;
            padding-block: 7px 6px;
            padding-inline: 4px;
        }
    }
    button:hover {
        background-color:hsla(39, 100%, 50%, 0.9);
    }
    #btnRestartGame {
        margin-right: auto;
        margin-left: 2rem;
        img {
            height: 56px;
            content: url(assets/icons/refresh.svg);
        }
    }
}
body.game-paused #btnTogglePauseGame img {
    --pulse-scale: 1.6;
    animation: pulse 1.5s infinite ease-in-out;
}
body.audio-muted:not(.game-paused) #btnToggleAudioMute img {
    --pulse-scale: 1.3;
    animation: pulse 1.5s infinite ease-in-out;
}
body:not(.show-start-screen) #btnStartGame,
body:not(.game-paused, .show-gameover-screen) #btnRestartGame,
body:not(.game-paused) #btnSurrender,
body:not(.game-paused) .game-is-paused-msg,
body:not(.play-mode) :is(#btnTogglePauseGame),
body:not(.audio-auto-muted) .enable-audio-msg,
body.no-audio #btnToggleAudioMute {
    display: none;
}


/* NAV PANEL */
.nav-panel {
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    /* background-color: hsl(39deg 100% 50% / 50%); */
    background-color: hsl(39deg 100% 40%);
    border-radius: 999rem;
    padding: 1.25rem 3rem;
    display: none;
}
.nav-panel-touch  {
    position: relative;
    padding-bottom: 2.5rem;
    transform: translateY(-5.5rem);
    border: solid 2px rgba(0,0,0,0.7);
}
.nav-panel-touch::after  {
    position: absolute;
    bottom: -1rem;
    font-size: 0.8rem;
    /* opacity: 0.7; */
    background-color: black;
    color: hsl(39deg 100% 40%);
    padding: 0.5rem 1rem;
    border-radius: 999rem;
}
.nav-panel-touch .button  {
    background-color: transparent;
}
.nav-panel-touch .button span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-accent-dark);
    color: hsl(39deg 100% 50% / 80%);
    font-size: 1.1rem;
    width: 44px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    padding: 4px;
}
/* .nav-panel-touch .button:is([data-before], [data-after]) {
    position: relative;
} */
.nav-panel-touch .button[data-before]::before {
    max-width: 80px;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
.nav-panel-touch .button[data-after]::after {
    max-width: 80px;
    margin-top: 0.6rem;
    font-size: 0.7rem;
}
.nav-panel-touch .button.before-empty::before {
    opacity: 0;
}
body.is-touch-device .nav-panel-touch .button[data-before]::before {
    display: none;
}
#btnMoveLeft img {
    rotate: 180deg;
}
#btnJump span {
    rotate: -90deg;
}
#btnThrowBottle img {
    transform: scale(0.8);
}

.hide:not(.show-temp) {
    display: none !important;
}
.hide-temp {
    display: none !important;
}



@media(max-width: 1024px) {
    :root {
        --cpx: 6px;
    }
    canvas {
        width: calc(100% - 12px - 12px);
    }
    /* .page-title {
        display: none;
    } */
    h1 {
        font-size: 9vw;
    }
    .game-over-text {
        font-size: 10vw;
    }
}

@media only screen and (max-height: 562px) {
    main {
        padding-block: 0;
        --cpx: 0;
    }
    canvas {
        max-height: 100vh;
        max-height: var(--full-height);
        width: auto;
        max-width: calc(100% - 12px - 12px);
    }
}

@media (orientation: landscape) and (min-aspect-ratio: 13/10) {
    .page-title {
        display: none;
    }
}
